$primary-color: #4bc9c9;
$text-primary-color: #303133;
$text-secondary-color: #606266;
$text-tertiary-color: #909399;
$border-primary-color: #dcdfe6;
$border-secondary-color: #e4e7ed;
$border-tertiary-color: #fa5555;
$background-primary-color: #f0f2f5;
$background-secondary-color: #f5f7fa;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
