input[type="radio"],
input[type="checkbox"] {
    display: none;

    & + .radio-label,
    & + .checkbox-label {
        .radio-icon,
        .checkbox-icon {
            position: relative;
        }

        .radio-checked-icon,
        .checkbox-checked-icon {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: none;
        }
    }

    &:checked + .radio-label,
    &:checked + .checkbox-label {
        .radio-checked-icon,
        .checkbox-checked-icon {
            display: block;
        }
    }
}
