.step-progress-bar-block {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.step-progress-bar {
    margin-left: -10px;
    margin-right: -10px;
    background-color: $background-secondary-color;
    display: flex;
    justify-content: space-around;
}

.step {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 15px;
    color: $text-tertiary-color;

    &.done {
        color: $primary-color;
    }

    &.active {
        color: $text-primary-color;
    }
}

.step-icon {
    margin-right: 10px;
}

.step-text {
    display: none;
}

.step.active {
    .step-text {
        display: block;
    }
}

@media (min-width: $screen-sm-min) {
    .step-text {
        display: block;
    }
}

.step-button-block {
    margin: 15px 0 30px;
    text-align: center;
}

@media (min-width: $screen-lg-min) {
    .step-button-block {
        text-align: right;
    }
}

.step-button {
    display: inline-block;
    font-size: 20px;
    padding: 14px 47px;
    height: 56px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;

    &.previous-step-button {
        color: #5a5e66;
        border-color: $border-primary-color;
        margin-right: 20px;
    }

    &.next-step-button {
        background-color: $primary-color;
        color: white;
        border-color: $primary-color;
    }
}
